stable-baselines3==2.2.1
python-binance==1.0.19
torch==2.1.2
numpy==1.26.3
pandas==2.1.4
matplotlib==3.8.2
scipy==1.11.4
gym==0.26.2
pyyaml==6.0.1
python-telegram-bot==13.15
requests==2.31.0
seaborn==0.13.1
tensorboard==2.15.1
tqdm==4.66.1